<div class="search">
  <form (submit)="onSubmit(cityName)">
    <input
      type="text"
      placeholder="search city"
      name="city"
      [(ngModel)]="cityName"
    />
  </form>
</div>

<div class="container">
  <div class="upper-data">
    <img src="../assets/hot.jpg" alt="hot" *ngIf="weather?.current?.is_day" />
    <img
      src="../assets/cold.jpg"
      alt="cold"
      *ngIf="!weather?.current?.is_day"
    />

    <div class="weather-data">
      <img
        [src]="weather?.current?.condition?.icon"
        alt="weather"
        id="weather"
      />
      <div class="location">{{ weather?.location?.name }}</div>
      <div class="temprature">
        {{ weather?.current?.temp_c | number: "1.0-0" }}&deg;C
      </div>
    </div>
  </div>
  <div class="lower-data">
    <div class="info-label">More information</div>
    <div class="info-container">
      <div class="block">
        <div class="block-label">
          <img src="../assets/max.png" alt="feels like" />
          <span>feels like</span>
        </div>
        <div class="block-value">
          {{ weather?.current?.feelslike_c | number: "1.0-0" }} &deg;C
        </div>
      </div>
      <div class="block">
        <div class="block-label">
          <img src="../assets/pressure.png" alt="pressure" />
          <span>pressure</span>
        </div>
        <div class="block-value">{{ weather?.current?.pressure_mb }} mm</div>
      </div>
      <div class="block">
        <div class="block-label">
          <img src="../assets/humidity.png" alt="humidity" />
          <span>humidity</span>
        </div>
        <div class="block-value">{{ weather?.current?.humidity }} %</div>
      </div>
      <div class="block">
        <div class="block-label">
          <img src="../assets/wind.png" alt="wind" />
          <span>wind</span>
        </div>
        <div class="block-value">{{ weather?.current?.wind_mph }} m/h</div>
      </div>
    </div>
  </div>
</div>
